name: Trivy Scan

on:
  workflow_call:
    inputs:
      scan-path:
        required: true
        type: string

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget gnupg
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update && sudo apt-get install -y trivy
      - name: Generate pom.xml
        run: clojure -Spom
        working-directory: ${{ inputs.scan-path }}
      - name: Run Trivy
        run: trivy fs --scanners vuln,license --format json -o trivy-report.json --severity HIGH,CRITICAL --exit-code 1 .
        working-directory: ${{ inputs.scan-path }}
      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: ${{ inputs.scan-path }}/trivy-report.json