{
  "//": "-- Template version: 1.0.1 --",
  "name": "{{SERVICE_NAME}}",
  "scripts": {"lint": "eslint src", "test": "jest"},
  "devDependencies": {"eslint": "^9.32.0", "jest": "^30.0.2", "license-checker": "^25.0.1"}
}